<div class="container">
    <div class="card services-card">
        <div class="card-body">
            <h3 class="card-title">Servicios</h3>
            <h4 class="card-subtitle mb-2 text-body-secondary">
                Ofrezco diseño, desarrollo, mantenimiento y actualización de todo tipo de software:
            </h4>
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
				  <h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						<i class="bi bi-globe2"></i>
						Desarrollo web
					</button>
				  </h2>
				  <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Desarrollo web</h3>
							</div>
							<div class="card-body">
								<h4 class="card-subtitle mb-2 text-body-secondary">Realizo:</h4>
								<ul>
									<li>Diseño, desarrollo y despliegue de sitios web modernos y dinámicos, adaptados a cualquier dispositivo.</li>
									<li>Aplicaciones web personalizadas e interactivas, que priorizan la experiencia del usuario.</li>
									<li>Automatización de procesos a través de sistemas online.</li>
									<li>Implementación de plataformas como landing pages, tiendas en línea, sistemas de gestión, blogs o paneles administrativos.</li>
									<li>Mantenimiento, optimización, migración o mejora de aplicaciones web ya desarrolladas.</li>
								</ul>
								<h4 class="card-subtitle mb-2 text-body-secondary">Beneficios:</h4>
								<ul>
									<li><strong>Presencia más profesional:</strong> A través de un sitio atractivo y rápido, esencial para cualquier tipo de negocio.</li>
									<li><strong>Ahorro de tiempo y costos:</strong> Automatización de tareas clave (como registro de datos o gestión de inventarios) y/o procesos (como reservas, pedidos o consultas).</li>
									<li><strong>Mayor alcance:</strong> Optimización para motores de búsqueda (SEO).</li>
									<li><strong>Experiencia de usuario:</strong> Interfaces rápidas, intuitivas y optimizadas para cualquier dispositivo.</li>
									<li><strong>Escalabilidad:</strong> Sitios listos para crecer con tu negocio.</li>
									<li><strong>Seguridad:</strong> Implementaciones que protegen los datos de tus usuarios y tu negocio.</li>
								</ul>
							</div>
							<div class="card-footer">
								<button (click)="scrollToContactSection()" class="btn btn-dark">Contactar para más información</button>
							</div>
						</div>
					</div>
				  </div>
				</div>
				<div class="accordion-item">
				  <h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<i class="bi bi-phone"></i>
						Desarrollo móvil
					</button>
				  </h2>
				  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Desarrollo móvil</h3>
							</div>
							<div class="card-body">
								<h4 class="card-subtitle mb-2 text-body-secondary">Realizo:</h4>
								<ul>
									<li>Aplicaciones móviles nativas o multiplataforma (iOS, Android).</li>
									<li>Diseño centrado en el usuario, con interfaces intuitivas, atractivas y optimizadas para un uso sencillo.</li>
									<li>Integración con bases de datos y servicios en la nube.</li>
									<li>Aplicaciones offline con sincronización automática al reconectarse.</li>
									<li>Incorporación de notificaciones push, cámaras, GPS y otras funciones del dispositivo.</li>
									<li>Mantenimiento, optimización, migración o mejora de aplicaciones móviles ya desarrolladas.</li>
								</ul>
								<h4 class="card-subtitle mb-2 text-body-secondary">Beneficios:</h4>
								<ul>
									<li><strong>Mayor conexión con tus usuarios:</strong> Una app siempre accesible.</li>
									<li><strong>Ahorro de costos:</strong> Soluciones multiplataforma para reducir tiempo de desarrollo.</li>
									<li><strong>Escalabilidad:</strong> Apps que crecen con tu negocio.</li>
									<li><strong>Mayor retención:</strong> Fideliza a tus usuarios con funcionalidades que les faciliten la vida.</li>
									<li><strong>Integración con tu ecosistema:</strong> Apps que funcionan con tus sistemas web o de escritorio.</li>
									<li><strong>Eficiencia:</strong> Soluciones rápidas y seguras.</li>
								</ul>
							</div>
							<div class="card-footer">
								<button (click)="scrollToContactSection()" class="btn btn-dark">Contactar para más información</button>
							</div>
						</div>
					</div>
				  </div>
				</div>
				<div class="accordion-item">
				  <h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						<i class="bi bi-display"></i>
						Desarrollo de software de escritorio
					</button>
				  </h2>
				  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Desarrollo de software de escritorio</h3>
							</div>
							<div class="card-body">
								<h4 class="card-subtitle mb-2 text-body-secondary">Realizo:</h4>
								<ul>
									<li>Aplicaciones robustas para Windows, macOS o Linux, que te permitirán gestionar procesos empresariales.</li>
									<li>Soluciones a medida según tus necesidades específicas.</li>
									<li>Automatización de procesos operativos y administrativos.</li>
									<li>Sistemas de control de inventarios, producción, etc.</li>
									<li>Integración con hardware especializado (lectores de códigos, impresoras, etc.).</li>
									<li>Soporte continuo para garantizar un rendimiento óptimo.</li>
									<li>Mantenimiento, optimización, migración o mejora de aplicaciones de escritorio ya desarrolladas.</li>
								</ul>
								<h4 class="card-subtitle mb-2 text-body-secondary">Beneficios:</h4>
								<ul>
									<li><strong>Eficiencia operativa:</strong> Simplificación de tareas repetitivas y procesos manuales.</li>
									<li><strong>Optimización:</strong> Software que simplifica tus operaciones diarias.</li>
									<li><strong>Control total:</strong> Soluciones personalizadas que se adaptan perfectamente a tu negocio.</li>
									<li><strong>Seguridad:</strong> Control total de tus datos en un entorno cerrado.</li>
									<li><strong>Reducción de costos:</strong> Automatización que ahorra tiempo y recursos humanos.</li>
									<li><strong>Escalabilidad:</strong> Programas diseñados para crecer con las demandas de tu negocio.</li>
									<li><strong>Ahorro:</strong> Reducir dependencias en software genérico con licencias costosas.</li>
								</ul>
							</div>
							<div class="card-footer">
								<button (click)="scrollToContactSection()" class="btn btn-dark">Contactar para más información</button>
							</div>
						</div>
					</div>
				  </div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							<i class="bi bi-tools"></i>
							Consultoría y mantenimiento
						</button>
					</h2>
					<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Consultoría y mantenimiento</h3>
							</div>
							<div class="card-body">
								<h4 class="card-subtitle mb-2 text-body-secondary">Realizo:</h4>
								<ul>
									<li>Análisis de tus necesidades y requerimientos, y asesoramiento técnico para elegir la mejor tecnología.</li>
									<li>Auditorías de software y sistemas para detectar problemas o áreas de mejora.</li>
									<li>Actualización de sistemas obsoletos para que se adapten a los estándares modernos.</li>
									<li>Migración a la nube para optimizar costos y mejorar accesibilidad.</li>
									<li>Optimización de rendimiento para mejorar la velocidad y estabilidad de tus sistemas.</li>
									<li>Soporte técnico rápido y confiable.</li>
								</ul>
								<h4 class="card-subtitle mb-2 text-body-secondary">Beneficios:</h4>
								<ul>
									<li><strong>Tranquilidad:</strong> Soluciones técnicas rápidas y personalizadas para cualquier problema técnico.</li>
									<li><strong>Longevidad:</strong> Mantén tu software actualizado y funcional a largo plazo.</li>
									<li><strong>Ahorro de tiempo:</strong> Menos preocupaciones técnicas para que te enfoques en tu negocio.</li>
									<li><strong>Reducción de riesgos:</strong> Prevención de problemas futuros mediante auditorías regulares.</li>
									<li><strong>Soporte continuo:</strong> Alguien en quien confiar cuando más lo necesites.</li>
								</ul>
							</div>
							<div class="card-footer">
								<button (click)="scrollToContactSection()" class="btn btn-dark">Contactar para más información</button>
							</div>
						</div>
					  </div>
					</div>
				  </div>
			</div>
        </div>
    </div>
</div>